
@import "./color_schemes/dark";

$c-brand-a: #d10956;
$c-brand-b: #0c0628;
$c-white: #fff;

$body-background-color: $c-brand-b;
$link-color: $c-white;
$nav-child-link-color: $grey-dk-000;
$sidebar-color: $c-brand-b;

$feedback-color: $c-brand-a;
